body
{   margin:0px;
}
nav{
    background-color:#58614E;
    display:flex;
    height:138px;
    width:100%;
    border-bottom:solid white 3px;
}
.navbar
{   font-size:14.4px;
    color:rgba(245, 245, 245, 0.612);
    margin-right:20px;
    font-weight:bold;
    margin-top:40px;
}
.navbar:hover
{   color:white;
}
#home:active,#about:active{
    color:white;
}
#navigation
{   margin-top:70px;
}
#content
{   background-color:#E2E2E2;
    width:100%;
    height:400px;
    margin-top:0px;
    padding-top:5px;
}
#middle
{   height:380px;
    padding-top:0px;
    width:1000px;
    background-color:#e9e9e9;
    color:#4E5944;
    border-color:white;
    border-style:solid;
    margin:auto;
    display:flex;
    justify-content:space-between;
    text-align:center;
    margin-top:12px;
    box-shadow:2px 2px 15px 2px black;
}
#top
{   padding-left:100px;
    padding-top:80px;
    line-height:40px;
    text-align:center;
    font-size:2em;

}
#left
{   max-width:170px;
    margin-left:150px;
    line-height:35px;
    font-size:1.5em;
}
#next1
{   background-color:#EEEEEE;
    padding-left:245px;
    display:flex;
    margin-bottom:0px;
}
#content-head
{   color:#4E5944;
    font-size:41.1px;
}
#content-left
{   width:650px;
    padding-right:40px;
    border-color:#4e59447e;
    border-right-style:dotted;
    border-right-width:2px;
}
#content-text
{   font-size:15px;
    font-family:arial;
    color:#4E5944;
    line-height:23px;
    font-variant: normal;
    text-align:justify;
}
#content-right
{   width:250px;
    text-align:justify;
    padding-left:20px;
    margin-top:30px;
}
#content-right-head
{   margin-bottom:46px;
    font-size:23px;
    color:#4E5944;
}
#content-right-text
{   color:#4E5944;
    line-height:25px;
}
#autor-name
{   text-align:right;
    color:#4E5944;
}
#next2
{   background-color:#E2E2E2;
    padding-left:245px;
    padding-right:245px;
    padding-top:20px;
}
#contact-head
{   font-size:20px;
    color:#4E5944;
}
#photo-with-text
{   margin-top:40px;
    height:490px;
    display:flex;
}
.photo1
{   width:220px;
    margin-right:40px;
}
.pic
{   border-width:6px;
    border-style:solid;
    border-color:#FFFFFF;
    box-shadow:2px 2px 5px 2px black;
}
.picture-head
{   color:#4E5944;
    font-weight:bold;
    font-size:16px;
}
.picture-text
{   color:#4E5944;
    font-family:arial;
    line-height:1.5em;
    font-size:16px;
}
.picture-button
{   font-family:arial;
    background-color:#5e5e5edf;
    padding:6px;
    color:white;
    border:none;
    margin-top:20px;
    font-size:small;
}
.picture-button:hover
{   background-color:#5e5e5e;
}
#bottom-feed-back
{   padding-left:245px;
    background-color:#D9D9D9;
    margin-top:-12px;
    display:flex;
}
.block-first
{   width:320px;
    padding-top:40px;
    padding-left:30px;
}
#block1,#block2
{   border-right-style: dotted;
    border-right-width:2px;
    border-right-color:#4e5944a4;
}
#block-first-head
{   color:#4E5944;
    font-weight:bold;
}
#block-first-text
{   color:#4E5944;   
}
footer
{   background-color:#4F5843;
    height:50px;
    display:flex;
    justify-content:space-evenly;
    color:#B5B986;
}
.images
{   margin-top:10px;
}
#copy-right
{   font-size:15px;
}